@model IEnumerable<Michalski.ComputerPheripherals.INTERFACES.IManufacturer>

@{
    ViewData["Title"] = "Producenci";
}

<h1>Producenci</h1>

<p>
    <a asp-action="Create">Dodaj nowego producenta</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @* W przyszłości można dodać akcje Edit | Details | Delete *@
            </td>
        </tr>
}
    </tbody>
</table>
