@{
    ViewData["Title"] = "Strona główna";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Dowiedz się o <a href="https://learn.microsoft.com/aspnet/core">tworzeniu aplikacji internetowych z ASP.NET Core</a>.</p>
</div>
