@{
    ViewData["Title"] = "Strona g\u0142\u00F3wna";
}

<div class="text-center">
    <h1 class="display-4">Witaj</h1>
    <p>Dowiedz si&#281; wi&#281;cej o <a href="https://learn.microsoft.com/aspnet/core">tworzeniu aplikacji internetowych w ASP.NET Core</a>.</p>
</div>
