@{
    ViewData["Title"] = "Polityka prywatno\u015Bci";
}
<h1>@ViewData["Title"]</h1>

<p>U&#380;yj tej strony, aby szczeg&#243;&#322;owo opisa&#263; polityk&#281; prywatno&#347;ci Twojej witryny.</p>
